<h1>Editing frappuccino</h1>

<%= render "form", frappuccino: @frappuccino %>

<br>

<div>
  <%= link_to "Show this frappuccino", @frappuccino %> |
  <%= link_to "Back to frappuccinos", frappuccinos_path %>
</div>
